


body {
    background-color: white;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
.container {
    background-color:white;
}
.hideR, .hideL, .hideU, .hideD {
    opacity: 0;
}
a {
    color:#2631ab;
    transition: 0.7s;
}
a:hover {
    text-decoration: none;
    color: #2631ab;
    opacity: 0.8;
}
/*---------- FRONT VIEWS & PARTIALS ----------*/

/*------ MENU VIEW -----*/
.navbar {
    text-transform: uppercase;
    font-weight: bold;
    background-color:white;
}
.navbar-light .navbar-nav .nav-link{
    color:#2631ab;
    transition: 0.7s;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:rgba(255,49,23,0.7);
}
.mynav {
    margin-right:0.5em;
}
.navbar-nav > a {
    margin-right: 2em;
}
#navbarNavAltMarkup {
    margin-left:20%;
    font-size: 1rem;
}
.dropdown-item {
    color:#2631ab;
    font-weight: bold;
    transition: 0.7s;
}
.dropdown-item:hover {
    color:rgba(255,49,23,0.7);
}
#logo {
    margin-right:0;
    padding-right:0;
    width: 4%;
}
#logo > img {
    width: 100%;
}
/*-----SLIDER - INDEX VIEW-----*/

.carousel-item{
    position: relative;
}

#carouselExampleFade{
    height: 800px;
} 
.carousel-caption>h2 {
    font-size: 5rem;
}
.carousel-caption{
    bottom:25%;
}
.cartouche {
    width:50% ;
    border: 1px solid transparent;
    background-color: rgba(255,49,23,0.8);
    padding-top: 1em;
    padding-bottom: 10em;
    position:absolute;
    bottom:0px;
    right:0;
    color:white;
}
.cartouche > h3 >a {
    color:white;
    transition: 0.7s;
}
.cartouche > h3 >a:hover {
    text-decoration: none;
    color: #2631ab;
}
.cartouche > h2 {
    padding-top:1em;
    text-transform: uppercase;
    margin-left: 2em;
    font-size: 1em;
}
.cartouche > h3 {
    font-weight: bold;
    margin-left: 0.7em;
    font-size: 3em;
}
.cartouche > p {
    margin-top:1em;
    width:70% ;
    margin-left: 2em;
}

.carousel-indicators {
    bottom: 1em;
    right: 60%;
}
.carousel-indicators li{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    opacity: 0.8;
}
.carousel-indicators .active {
    background-color:rgba(255,49,23, 0.8);
}
#slogan {
    margin-top:5em;
    color:#7A80CB;
}
.slogan > .sl-1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom:1.5em;
    line-height: 0;
}
.slogan > .sl-2 {
    text-align: right;
    font-size: 2em;
    font-weight: 900;
    margin-bottom:1.5em;
}
.slogan > .sl-3 {
    text-align: center;
    font-size: 2em;
}
.poster {
    position:relative;
    padding-left:0;
    padding-right:0;
    margin-top: 5em;
    margin-bottom: 5em;
}
.info {
    position:absolute;
    bottom:0;
    left: 30px;
    color:white;
    width: 50%;
}
.info > h2 {
    font-size: 1.5em;
}
.info > h3 {
    font-size: 1em;
}
.info > p {
    font-weight: bold;
    font-size: 1.5em;
}
.social-network {
    font-size: 5em;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 1em;
    color:black;
}
.social-network > a {
    color:black;
}
/*----- NEWSLETTER -----*/
#newsletter {
    background-color:#2631ab;
    color:white;
    height: 500px;;
}
#newsletter > .card-body > h2 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 4em;
}
#newsletter > .card-body > p {
    text-transform: uppercase;
    padding-bottom: 1em;
}
/*----- EVENT VIEW -----*/
.event-view > .col-5{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;

}
.event-view > .col-5 > a {
    color:#2631ab;
    transition: 0.7s;
}
.event-view > .col-5 > a:hover {
    text-decoration: none;
    color:rgba(255,49,23); 
}
/*----- PRODUCT VIEW -----*/
.product-view {
    margin:0 auto;
    margin-top: 5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
}
/*----- FOOTER VIEW -----*/
footer {
    margin-top:5em;
    background-color:rgba(255,49,23,0.8);
    width: 100%;
    display: flex;
}
.footer {
    margin-top:2em;
}

#contact {
    margin-left: 6em;
}
.btn-primary {
    background-color:#2631ab;
    border-color: #2631ab;
    transition: 0.7s;
}
.btn-primary:hover {
    background-color:#2631ab;
    border-color: #2631ab;
    opacity: 0.8;
}
/*-----ADHESION VIEW -----*/
#adhesion-view {
    margin-top:5em;
}
/*---------- AUTH VIEWS ----------*/

/*----- REGISTER VIEW -----*/

#register {
    background-color:white;
    margin-top:10em;
    margin-bottom:10em;
}

/*---------- BACK VIEWS ----------*/

/*-----BACK INDEX VIEW -----*/
#dash-nav {
    margin-top:2.5em;
    max-width: 15em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #3A4652;
    border: 1px solid transparent;
    border-radius: 0.5em;
    
}
#dash-title {
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: grey;
}
#v-pills-tab > a {
    padding-top:1em;
    padding-bottom: 1em;
    margin-top: 1em;
    color:white;
}
.dash-list {
    margin-top: 2.5em;
    margin-left: 1em;
}

/*----- CREATE EVENT VIEW -----*/
#create-event {
    margin-top:5em;
    margin-left: 5em;
}
