


body {
    background-color: white;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
.container {
    background-color:white;
}
.hideR, .hideL, .hideU {
    opacity: 0;
}
/*---------- FRONT VIEWS & PARTIALS ----------*/

/*------ MENU VIEW -----*/
.navbar {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid grey;
    background-color:white;
}

.navbar-brand {
    font-size: 1.7rem;
}
#navbarNavAltMarkup {
    margin-left:40%;
    font-size: 1.2rem;
}

/*-----SLIDER - MENU VIEW-----*/

#slider, .d-block{
    font-size: 3rem;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
} 
.carousel-caption>h2 {
    font-size: 5rem;
}
.carousel-caption{
    bottom:25%;
}
footer {
    margin-top:5em;
    background-color:lightgrey;
}
/*---------- AUTH VIEWS ----------*/

/*----- REGISTER VIEW -----*/

#register {
    background-color:white;
    margin-top:10em;
    margin-bottom:10em;
}

/*---------- BACK VIEWS ----------*/

/*-----BACK INDEX VIEW -----*/
#dash-nav {
    margin-top:2.5em;
    max-width: 12%;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2em;
    
}
#dash-title {
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: grey;
}
#v-pills-tab > a {
    padding-top:1em;
    padding-bottom: 1em;
    margin-top: 1em;
    color:black;
}
.dash-list {
    margin-top: 2.5em;
    margin-left: 2.5em;
}